<div id="start" class="viewport table-vert-center text-center fade-blur" ui-sref="main.intro" ng-cloak>
    <div class="vert-inner">
        <div class="stage">
            <div class="stage-contents">
                <img class="logo" src="assets/images/huntlee-logo.svg" />
                <h2>
                    Welcome to a new low carbon community of the future, where you save money and help your planet thrive.
                </h2>
                <a ui-sref="main.intro" class="btn">
                	Discover
                	<span class="icon icon-chevron-forward"></span>
                </a>
                <div class="container-sm features">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="circle-feature water">
                                <div class="content">
                                    <div class="table-vert-center">
                                        <div class="vert-inner">
                                            <img src="assets/images/Recyled-Water.png" /> Recycled water
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="circle-feature solar">
                                <div class="content">
                                    <div class="table-vert-center">
                                        <div class="vert-inner">
                                            <img src="assets/images/Solar-Network.png" /> Shared solar network
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="circle-feature rates">
                                <div class="content">
                                    <div class="table-vert-center">
                                        <div class="vert-inner">
                                            <img src="assets/images/Lower-Rates.png" /> Lower rates
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>